        <div class="title-container">
    <a href="/post/{{id}}"> <h1 class="title">{{title}}</h1></a>
        <h3 class="user">Posted By {{user.username}}</h3>
     </div>

     <div class="text">
{{text}}
     </div>