<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="header-text">Tech Blog</h1>
        
        
        <ul>
           
           <a href="/"> <button type="button" class="">Home</button></a>
            {{!-- {{#if LoggedIn}} --}}
  <a href="/dashboard"> <button type="button" class="">Dashboard</button></a>
           <a href="/logout"> <button type="button" Id="logout-btn">Logout</button></a>
{{!-- {{else}} --}}
                      <a href="/login"><button type="button" id="login-btn">Login</button></a>
 {{!-- {{/if}} --}}
        </ul>
    </header>
    <main>
  {{{body}}}
    </main>
    <footer class="footer">
        <h3>
            Made By: Jovan
        </h3>
    </footer>
      
    <script src="/javascript/logout.js"></script>
</body>
</html>