* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a:visited,
a:active,
a {
  color: black;
}
header {
  background-color: beige;
  height: 50px;
}
ul {
  display: flex;
  flex-direction: row;
  float: left;
}
li {
  list-style: none;
  margin-right: 35px;
}
