 <a href="/"> &larr; Back to homepage</a>
<section>
    <h2>Create New Post</h2>
    <form class="new-post">
        <div>
            <label for"post-title">Title</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>
        <div>
            <label for"post-text">text</label>
            <input type="text" id="post-text" name="post-title"/>
        </div>
        <button type="button" class="create_post">Create</button>
    </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
<ul class="list">
    {{#each posts as |post|}}
    
    <li class="post-container">

{{> post-info post}}
<div class="edit-div">
    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </div>
    </li>
    {{/each}}
</ul>

</section>
{{/if}}
<script src="/javascript/add-post.js"></script>


