
<div class="form-container">
 
     <center>
            <div>
        <h1>Sign Up</h1>
    </div>
<form class="sign-up">
    <div>
        <label for="uSign">Username:</label>
        <input type="text" id="uSign">
           </div>
   <div>
<label for="eSign">Email:</label>
<input type="text" id="eSign">
   </div>
   <div>
    <label for="pSign">Password:</label>
    <input type="text" id="pSign">
   </div>
   <div>
       <button type="button" class="sBtn">sign-up</button>
   </div>

</form>
   </center>
</div>

<center>
<div class="form-container">
    <center>
           <div>
        <h1>Login</h1>
    </div>
<form class="sign-up">
    <div>
<label for="eLog">Email:</label>
<input type="text" id="eLog">
   </div>
   <div>
    <label for="pLog">Password:</label>
    <input type="text" id="pLog">
   </div>
   <div>
       <button type="button" class="lBtn">Login</button>
   </div>
</form>
</center>
</div>
</center>
<script src="/javascript/login.js"></script>